.section__heading, .widgettitle {
	float: none;
}

.widget-area ul {
	margin-top: 1em;
	float: left;
}

.featured-projects {
	height: auto;
}

.project-listing {
	margin-bottom: 2em;
	padding-bottom: 1em;
	  border-bottom: 5px solid rgba(0, 0, 0, 0.23);
}


.featured-projects__caption {
	bottom: 4px;
	/* some extra margin or padding was ending up in there, this gets it within 1px on all devices I tested */
}

/* header text was causing issues on smaller screens, it's non-vital, so lets just hide it... */

.header__image--homepage .header__text {
	display: none;
}

@media screen and (min-width: 820px)  { 
	.header__image--homepage .header__text {
	display: inline-block;
	}
	}


@media screen and (min-width: 820px) {

	.ft-project {
		height: 500px;
	}
	
	.ft-project h3, .ft-project p, .ft-project .ft-project__more {
		padding-left: 1em;
		padding-right: 1em;
	}
	
	.ft-project__thumb {
		width: 100%;
		max-height: 250px;
	}
	
	.page-template-template-team .ft-project {
		hieght: 550px;
	}
	
	
	.page-template-template-team .ft-project__thumb {
		max-height: 300px;
	}
}


a.view-all {
	font-family: 'Museo W01_500';
	text-transform: uppercase;
	  color: #a51d4b;
}

a.view-all:hover {
	font-family: 'Museo W01_500';
	text-transform: uppercase;
	  color: #6b1230;
}

a.view-all::after {
	content: " >";
	font-size: 1.2em;
}

/* fonts */

.featured-projects__text, .helvetica-bold, body b, body strong, .helvetica-roman, body {
	font-weight: normal;
}

h3 .entry__meta {
	font-size: .75em;
	font-style: italic;
	font-weight: 300;
	padding-top: .5em;
}