// Layout
//================================================================================
$susy: (
  global-box-sizing: border-box,
  columns: 12,
  gutters: 0,
  gutter-position: inside,
);
$gutter: 0.5em;
$section-bottom-margin: 1em;
$aside-width: span(3);
// Colors
//================================================================================
// text colors
$color__font: #5f5f5f;
$color__header: #5f5f5f;
// link colors
$color__link: #7a9db1;
$color__link-hover: lighten( #7a9db1, 15% );
$color__link-visited: darken( #7a9db1, 15% );
// color pallete
$red: #a51d4b;
$blue: #9ab4c3;
$off-white: #ebf0f4;
$blue-grey: #8facbe;
$drk-blue-grey: #7a9db1;

// Typography
//================================================================================
$font-size__base: 16;
// The default font family.
$font-family__base: sans-serif !default;
// The font sizes for h1-h6.
$font-size__h1: 2    * $font-size__base !default;
$font-size__h2: 1.5  * $font-size__base !default;
$font-size__h3: 1.17 * $font-size__base !default;
$font-size__h4: 1    * $font-size__base !default;
$font-size__h5: 0.83 * $font-size__base !default;
$font-size__h6: 0.67 * $font-size__base !default;
// Media Queries
//================================================================================
// Convert px to em
@function em($pixels, $context: $font-size__base) {
    @return #{$pixels/$context}em;
}
$phone_port: em(320);
$phone_land: em(480);
$tablet_port: em(768);
$tablet_land: em(1024);